 # Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/
bower_components/
gulp/
src/img/
.editorconfig
.eslintignore
.eslintrc.js
.eslintrc.json
.gitattributes
.pug-lint.json
.stylelintrc.json
bower.json
gulpfile.js
html.sh
package.json
package-lock.json

# Папка с собранными файлами проекта
build/
