header.header.grid
  .grid.logo1
  .grid.logo2
  .grid.top-menu
    ul.menu
      li 
        a(href="#") Главная
      li 
        a(href="#") Герои
      li 
        a(href="#") История
      li 
        a(href="#") Ветераны
      li 
        a(href="#") Труженники тыла
      li 
        a(href="#") Жертвы репрессий
      li 
        a(href="#") Контакты
  