doctype html
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      meta(name="language" content="ru")
      title Мемориальный сайт
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(content="ie=edge" http-equiv="x-ua-compatible")
      // @if NODE_ENV='development'
      link(rel="stylesheet" href="css/style.css")
      // @endif
      // @if NODE_ENV='production'
      link(rel="stylesheet" href="css/style.min.css")
      // @endif

  body.grid
    block header
      include header
    block content
      include content
    block navbar
      include navbar
    block footer
      include footer
    block scripts
      // @if NODE_ENV='development'
      script(src='js/main.js')
      // @endif
      // @if NODE_ENV='production'
      script(src='js/main.min.js')
      // @endif
